<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Раздел-1" data-toc-modified-id="Раздел-1-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Раздел 1</a></span></li><li><span><a href="#Раздел-2" data-toc-modified-id="Раздел-2-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Раздел 2</a></span></li></ul></div>

## Раздел 1

In [22]:
import numpy as np
import pandas as pd 

df = pd.DataFrame({'predict': [623, 253, 150,237], 'target':[649, 253, 370,  148]})

df

   predict  target
0      623     649
1      253     253
2      150     370
3      237     148

In [23]:
df['errors'] = (df['target']- df['predict'])**2
df

   predict  target  errors
0      623     649     676
1      253     253       0
2      150     370   48400
3      237     148    7921

In [27]:
df['errors'].sum()/df['target'].count()

14249.25

## Раздел 2

Здель теория к разделу, описание данных